*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: white;
    text-decoration: none;
}
header{
    padding: 20px 0px;
    background-color: black;
    color: white;
}
span{
    color: blue;
}
ul{
    display: flex;
    gap:20px;
    
    
}

li{
    list-style-type: none;
}

nav{
    
    display: flex;
    justify-content: space-around;
    
   
}
.logo_text{
    color: green;
}
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hero_img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}